snippet /// "Summary Comment" bA
/// <summary>
///		$1
/// </summary>$0
endsnippet

snippet cout "Console WriteLine" b
Console.WriteLine($1);$0
endsnippet

snippet cout$ "Console WriteLine with String interpolation" b
Console.WriteLine($"$1");$0
endsnippet

snippet pgs "GetterSetter" b
public $1 $2 { get; set; }$0
endsnippet
